body {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    background: #222;
    counter-reset: patos-mortos;
}
.container {
    height: 600px;
    width: 800px;
    background: url("sprites/background.png") center top no-repeat;
    background-color: rgb(60, 188, 252);
    background-size: auto 600px;
    position: relative; 
}
.borda {
    height: 600px;
    width: 200px;
    background-color: #222;
    position: relative;
    z-index: +1;
}
.board {
    height: 60px;
    width: 500px;
    border-radius: 15px;
    border: 1px solid lightgray;
    position: absolute;
    top: 525px;
    left: 50%;
    transform: translateX(-50%);
    background: #222;
}
input {
    display: none;
    position: absolute;   
}
label {
    position: relative;
    visibility: hidden;
}
label:after {
    content: '';
    height: 56px;
    width: 75px;
    display: inline-block;
    animation: steps(3) voo .5s infinite;            
}
label[for="pato1"] {
    animation: trajeto1 8s;
    animation-delay: 5s;
}
label[for="pato2"] { 
    animation: trajeto2 8s;
    animation-delay: 14s;
}
label[for="pato3"] {
    animation: trajeto3 8s;
    animation-delay: 23s;
}
.indicador {
    background: url("sprites/alive-duck-small.png");
    top: 545px;
    left: 50%;
    width:20px;
    height:20px;
    position: absolute;
}
.pato1 {
    transform: translateX(-235px);
}
.pato2 {
    transform: translateX(-205px);
}
.pato3 {
    transform: translateX(-175px);
}
input[name="pato1"]:checked + .pato1 {
    background: url("sprites/dead-duck-small.png");
    counter-increment: patos-mortos;
}
input[name="pato2"]:checked + .pato2 {
    background: url("sprites/dead-duck-small.png");
    counter-increment: patos-mortos;
}
input[name="pato3"]:checked + .pato3 {
    background: url("sprites/dead-duck-small.png");
    counter-increment: patos-mortos;

}
input[name="pato1"]:checked + .pato1 + label[for="pato1"]:after {            
    animation-play-state: paused;
    animation: morte 1s;
}
input[name="pato2"]:checked + .pato2 + label[for="pato2"]:after {            
    animation-play-state: paused;
    animation: morte 1s;
}
input[name="pato3"]:checked + .pato3 + label[for="pato3"]:after {            
    animation-play-state: paused;
    animation: morte 1s;
}
.menu {
    animation: desce-menu 1s;
    animation-delay: 31.5s;
    animation-fill-mode: forwards;
    height: 130px;
    width: 200px;
    border-radius: 15px;
    border: 1px solid lightgray;
    position: absolute;
    top: -300px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(200, 200, 200, 0.7);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.item {
    font-size: 20px;
    margin: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.item:after {
    content: counter(patos-mortos);
    color: red;
}
.menu-options {
    text-decoration: none;
    color: white;
}
text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.next-level {
    height: 30px;
    width: 90px;
    position: absolute;
    top: 541px;
    text-align: center;
    line-height: 28px;
    left: 50%;
    transform: translateX(140px);
    background-color: rgb(168, 0, 16);
    border-radius: 5px;
    border: 1px solid lightgray;
    animation: show-next-level 1s;
    animation-delay: 31.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
@keyframes show-next-level {
100% {
    visibility: unset;
    }
}
@keyframes desce-menu {
100% {
    top: 50px;
    }
}
@keyframes morte {
0% {
    visibility:unset;
    background: url("sprites/dead-duck.png");
    background-position: 20px 0px;
    background-repeat: no-repeat;
    opacity: 1;
}
100% {
    opacity: 0;
    background-position: 20px 0px;
    }
}
@keyframes trajeto1 {
0% {
    visibility:unset;
    left: -150px;
}
10% {
    left: 0px;
    top: 0px;
}
20% {
    left:100px;
    top:100px;
}
40% {
    left: 500px;
    top: 450px;
}
60% {
    top: 100px;
    left: 500px;
}
80% {
    left: 0px;
    top: 400px;
}
100% {
    left: -240px;
    top: 300px;
    }
}
@keyframes trajeto2 {
0% {
    visibility:unset;
    top: -150px;
}
10% {
    left: 0px;
    top: 200px;
}
20% {
    left:300px;
    top:300px;
}
40% {
    left: 500px;
    top: 50px;
}
60% {
    top: 400px;
    left: 500px;
}
80% {
    left: 250px;
    top: 250px;
}
100% {
    left: -160px;
    top: 500px;
    }
}
@keyframes trajeto3 {
0% {
    visibility:unset;
    top: -150px;
    left: -150px;
}
10% {
    left: 500px;
    top: 0px;
}
20% {
    left:400px;
    top:200px;
}
40% {
    left: 100px;
    top: 200px;
}
60% {
    top: 400px;
    left: 50px;
}
80% {
    left: 300px;
    top: 200px;
}
100% {
    left: 810px;
    top: 50px;
    }
}
@keyframes voo {
0% {
    width:75px;
    height:56px;
    background: url("sprites/flying-duck.png");
    background-position: 0px 0px;
}
100% {
    width:75px;
    height:56px;
    background: url("sprites/flying-duck.png");
    background-position: 226px 0px;
    }
}